apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: cilium
spec:
  interval: 5m
  chart:
    spec:
      chart: cilium
      version: 1.18.5
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
      interval: 5m
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    force: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    routingMode: "native"
    autoDirectNodeRoutes: true
    ipv4NativeRoutingCIDR: "10.201.0.0/16"
    kubeProxyReplacement: true
    ipam:
      mode: "kubernetes"
    cluster:
      name: "tamland-prd"
      id: 1
    MTU: 1450
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
    ipv4:
      masquerade: true
    bpf:
      masquerade: true
    nodePort:
      enabled: true
    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
