apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: chia-blockchain
  namespace: chia
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    serviceAccount:
      chia-blockchain: {}
    controllers:
      app:
        serviceAccount:
          identifier: chia-blockchain
        containers:
          app:
            image:
              repository: ghcr.io/chia-network/chia
              tag: 2.5.7
            env:
              TZ: America/Toronto
              keys: /key
    service:
      app:
        controller: app
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          metallb.universe.tf/loadBalancerIPs: 10.200.12.2
        ports:
          p2p:  
            enabled: true
            port: 8444
            protocol: TCP
          farmer:
            enabled: true
            port: 8447
            protocol: TCP
    persistence:
      key:
        enabled: true
        type: secret
        name: chia-secrets
        advancedMounts:
          app:
            app:
              - path: /key
                subPath: key
      blockchain:
        enabled: true
        type: nfs
        server: truenas.local.tam.land
        path: /mnt/main-bay/k8s-data/crypto/chia/blockchain
        advancedMounts:
          app:
            app:
              - path: /root/.chia
      plots: 
        enabled: true
        type: nfs
        server: truenas.local.tam.land
        path: /mnt/main-bay/k8s-data/crypto/chia/plots
        advancedMounts:
          app:
            app:
              - path: /plots
