apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      app:
        enabled: true
        containers:
          app:
            image:
              repository: grafana/grafana-enterprise
              tag: 12.3.0
    service:
      app:
        enabled: true
        controller: app
        primary: true
        ports:
          http:
            port: 3000
    ingress:
      app:
        enabled: true
        hosts:
          - host: grafana.tam.land
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
        tls:
          - secretName: tamland-tls
            hosts:
              - grafana.tam.land
    persistence:
      config:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/monitoring/grafana/config
        advancedMounts:
          app:
            app:
              - path: /etc/grafana/grafana.ini
                subPath: grafana.ini
                readOnly: true
      data:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/monitoring/grafana/data
        advancedMounts:
          app:
            app:
              - path: /var/lib/grafana
