apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: m3u-editor
  namespace: media
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    defaultPodOptions:
      labels:
        egress-gw: vpn
    controllers:
      app:
        containers:
          app:
            image:
              repository: sparkison/m3u-editor
              tag: 0.7.11
            envFrom: &envFrom
              - secret: m3u-editor-configuration
      postgres:
        containers:
          postgres:
            image:
              repository: postgres
              tag: 16.11
            envFrom: *envFrom
      redis:
        containers:
          redis:
            image:
              repository: redis
              tag: 8.4.0
    service:
      app:
        enabled: true
        controller: app
        primary: true
        ports:
          http:
            port: 36400
      postgres:
        enabled: true
        controller: postgres
        ports:
          http:
            port: 5432
      redis:
        enabled: true
        controller: redis
        ports:
          http:
            port: 6379
    ingress:
      app:
        enabled: true
        hosts:
          - host: m3u.tam.land
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
        tls:
          - secretName: tamland-tls
            hosts:
              - m3u.tam.land
    persistence:
      config:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/media/m3u-editor/config
        advancedMounts:
          app:
            app:
              - path: /var/www/config
      pgdata:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/media/m3u-editor/database
        advancedMounts:
          postgres:
            postgres:
              - path: /var/lib/postgresql/data
