apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
  namespace: smart-home
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      app:
        enabled: true
        containers:
          app:
            image: 
              repository: eclipse-mosquitto
              tag: 2.0.22
    service:
      app:
        enabled: true
        controller: app
        primary: true
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          metallb.universe.tf/loadBalancerIPs: 10.200.12.3
        ports:
          mqtt:
            enabled: true
            port: 1883
            protocol: TCP
    configMaps:
      mosquitto-config:
        enabled: true
        data:
          mosquitto.conf: |
            allow_anonymous true
            listener 1883
    persistence:
      appconfig:
        enabled: true
        type: configMap
        identifier: mosquitto-config
        advancedMounts:
          app:
            app:
              - path: /mosquitto/config
                readOnly: true
