tam.land-controlplane01.yaml
tam.land-controlplane02.yaml
tam.land-controlplane03.yaml
tam.land-worker01.yaml
tam.land-worker02.yaml
tam.land-worker03.yaml
tam.land-worker04.yaml
tam.land-worker05.yaml
talosconfig
