apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: media
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      app:
        enabled: true
        containers:
          app:
            image:
              repository: jellyfin/jellyfin
              tag: 10.11.6
            env:
              NVIDIA_VISIBLE_DEVICES: all
              TZ: America/Toronto
        pod:
          runtimeClassName: nvidia
          nodeSelector:
            "tam.land/gpu.present": "true"
          tolerations:
            - key: "tam.land/peripheralNode"
              operator: "Equal"
              value: "true"
              effect: "NoSchedule"
    service:
      app:
        enabled: true
        controller: app
        primary: true
        ports:
          http:
            port: 8096
    ingress:
      api:
        enabled: true
        hosts:
          - host: jellyfin.tam.land
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
        tls:
          - secretName: tamland-tls
            hosts:
              - jellyfin.tam.land
    persistence:
      config:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/media/jellyfin/config
        advancedMounts:
          app:
            app:
              - path: /config
      transcode:
        enabled: true
        type: emptyDir
        advancedMounts:
          app:
            app:
              - path: /cache/transcodes
      media:
        enabled: true
        type: nfs
        server: truenas.local.tam.land
        path: /mnt/main-bay/k8s-data/media
        advancedMounts:
          app:
            app:
              - path: /media
