apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
  namespace: smart-home
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    defaultPodOptions:
      tolerations:
        - key: node.kubernetes.io/assignment
          operator: Equal
          value: tpu
          effect: NoSchedule
    controllers:
      app:
        containers:
          app:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.16.0-beta3
            securityContext:
              privileged: true
    ingress:
      app:
        enabled: true
        hosts:
          - host: "frigate.local.tam.land"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
          - host: "go2rtc.local.tam.land"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: go2rtc
    service:
      app:
        controller: app
        ports:
          http:
            port: 5000
      go2rtc:
        controller: app
        ports:
          http:
            port: 1984
    persistence:
      config:
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/smart-home/frigate/config
        globalMounts:
          - path: /config
      media:
        type: nfs
        server: truenas.local.tam.land
        path: /mnt/main-bay/k8s-data/frigate
        globalMounts:
          - path: /media
      usb:
        type: hostPath
        hostPath: /dev/bus/usb
        hostPathType: Directory
        globalMounts:
          - path: /dev/bus/usb
      quicksync:
        type: hostPath
        hostPath: /dev/dri
        hostPathType: Directory
        globalMounts:
          - path: /dev/dri
      shm:
        type: emptyDir
        medium: Memory
        sizeLimit: 2Gi
        globalMounts:
          - path: /dev/shm
      cache:
        type: emptyDir
        medium: Memory
        sizeLimit: 1Gi
        globalMounts:
          - path: /tmp/cache
