apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
  namespace: smart-home
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      app:
        pod:
          runtimeClassName: nvidia
          nodeSelector:
            "tam.land/tpu.present": "true"
          tolerations:
            - key: "tam.land/peripheralNode"
              operator: "Equal"
              value: "true"
              effect: "NoSchedule"
        containers:
          app:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.17.0-beta1
            env:
              NVIDIA_VISIBLE_DEVICES: all
            securityContext:
              privileged: true
    ingress:
      app:
        enabled: true
        hosts:
          - host: "frigate.local.tam.land"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
          - host: "go2rtc.local.tam.land"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: go2rtc
    service:
      app:
        controller: app
        ports:
          http:
            port: 5000
      go2rtc:
        controller: app
        ports:
          http:
            port: 1984
    persistence:
      config:
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/smart-home/frigate/config
        advancedMounts:
          app:
            app:
              - path: /config
      nfs:
        type: nfs
        server: truenas.local.tam.land
        path: /mnt/main-bay/k8s-data/frigate
        advancedMounts:
          app:
            app:
              - path: /media
      tpu:
        type: hostPath
        hostPath: /dev/apex_0
        hostPathType: CharDevice
        advancedMounts:
          app:
            app:
              - path: /dev/apex_0
      shm:
        type: emptyDir
        medium: Memory
        sizeLimit: 2Gi
        advancedMounts:
          app:
            app:
              - path: /dev/shm
      cache:
        type: emptyDir
        medium: Memory
        sizeLimit: 1Gi
        advancedMounts:
          app:
            app:
              - path: /tmp/cache
