apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
  namespace: smart-home
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      app:
        initContainers:
          mergerfs:
            image:
              repository: ghcr.io/hotio/mergerfs
              tag: release-2.41.1
            restartPolicy: Always
            securityContext:
              privileged: true
              runAsUser: 0
              runAsGroup: 0
            command:
              - /bin/sh
              - -ec
            args:
              - |
                echo "Starting mergerfs run loop"
                while true; do
                  umount -l /media 2>/dev/null || true
                  rm -f /media/error 2>/dev/null || true

                  echo "Creating mergerfs mountpoint on $(date)"
                  mergerfs \
                    -f \
                    -o allow_other,use_ino,category.create=ff,moveonenospc=true,fsname=frigate-media \
                    /ssd:/nfs \
                    /media
                  result=$?
                  echo "Mergerfs exited with code rc=${result} on $(date)"
                  sleep 1
                done
        pod:
          runtimeClassName: nvidia
          nodeSelector:
            "tam.land/tpu.present": "true"
          tolerations:
            - key: "tam.land/peripheralNode"
              operator: "Equal"
              value: "true"
              effect: "NoSchedule"
        containers:
          app:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.17.0-beta1
            env:
              NVIDIA_VISIBLE_DEVICES: all
            securityContext:
              privileged: true
      mover:
        type: cronjob
        cronjob:
          schedule: "0 * * * *"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 3
          startingDeadlineSeconds: 300
        pod:
          nodeSelector:
            "tam.land/tpu.present": "true"
          tolerations:
            - key: "tam.land/peripheralNode"
              operator: "Equal"
              value: "true"
              effect: "NoSchedule"
        containers:
          mover:
            image:
              repository: alpine
              tag: 3.23.2
            command:
              - /bin/sh
              - -ec
            args:
              - |
                apk add --no-cache rsync findutils coreutils

                cd /ssd
                find frigate -type f -mmin +10 -print0 \
                | rsync -av --no-owner --no-group \
                    --bwlimit=7935 \
                    --remove-source-files --prune-empty-dirs --ignore-existing \
                    --from0 --files-from=- \
                    ./ /nfs/
                find /ssd -type d -empty -delete || true
    ingress:
      app:
        enabled: true
        hosts:
          - host: "frigate.local.tam.land"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
          - host: "go2rtc.local.tam.land"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: go2rtc
    service:
      app:
        controller: app
        ports:
          http:
            port: 5000
      go2rtc:
        controller: app
        ports:
          http:
            port: 1984
    persistence:
      config:
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/smart-home/frigate/config
        advancedMounts:
          app:
            app:
              - path: /config
      ssd:
        type: persistentVolumeClaim
        existingClaim: frigate-cache
        advancedMounts:
          app:
            mergerfs:
              - path: /ssd
          mover:
            mover:
              - path: /ssd
      nfs:
        type: nfs
        server: truenas.local.tam.land
        path: /mnt/main-bay/k8s-data/frigate
        advancedMounts:
          app:
            mergerfs:
              - path: /nfs
          mover:
            mover:
              - path: /nfs
      merged:
        type: emptyDir
        advancedMounts:
          app:
            app:
              - path: /media
                mountPropagation: Bidirectional
            mergerfs:
              - path: /media
                mountPropagation: Bidirectional
      tpu:
        type: hostPath
        hostPath: /dev/apex_0
        hostPathType: CharDevice
        advancedMounts:
          app:
            app:
              - path: /dev/apex_0
      shm:
        type: emptyDir
        medium: Memory
        sizeLimit: 2Gi
        advancedMounts:
          app:
            app:
              - path: /dev/shm
      cache:
        type: emptyDir
        medium: Memory
        sizeLimit: 1Gi
        advancedMounts:
          app:
            app:
              - path: /tmp/cache
      fuse:
        type: hostPath
        hostPath: /dev/fuse
        hostPathType: CharDevice
        advancedMounts:
          app:
            mergerfs:
              - path: /dev/fuse
