apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: media
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    # defaultPodOptions:
    #   dnsConfig:
    #     options:
    #       - name: ndots
    #         value: "1"
    controllers:
      app:
        enabled: true
        initContainers:
          gluetun:
            image:
              repository: qmcgaw/gluetun
              tag: v3.41.0
            restartPolicy: Always
            securityContext:
              capabilities:
                add: [ "NET_ADMIN" ] 
            envFrom:
              - secret: gluetun-wg
              - secret: prowlarr-gluetun
          dnsdist:
            image:
              repository: docker.io/powerdns/dnsdist-19
              tag: 1.9.11
            restartPolicy: Always
            securityContext:
              runAsUser: 0
              runAsGroup: 0
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/prowlarr
              tag: 2.3.0
            env:
              PUID: 568
              PGID: 568
    service:
      app:
        enabled: true
        controller: app
        primary: true
        ports:
          http:
            port: 9696
    ingress:
      app:
        enabled: true
        hosts:
          - host: prowlarr.local.tam.land
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
        tls:
          - secretName: local-tamland-tls
            hosts:
              - proawlarr.local.tam.land
    persistence:
      config:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/media/prowlarr/config
        advancedMounts:
          app:
            app:
              - path: /config
                readOnly: false
      dnsdist:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/media/dnsdist
        advancedMounts:
          app:
            dnsdist:
              - path: /etc/dnsdist/dnsdist.conf
                subPath: dnsdist.conf
                readOnly: true
