apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radicale
  namespace: other-webapps
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      app:
        enabled: true
        containers:
          app:
            image:
              repository: ghcr.io/kozea/radicale
              tag: 3.6.0
    service:
      app:
        enabled: true
        controller: app
        primary: true
        ports:
          http:
            port: 5232
    ingress:
      app:
        enabled: true
        hosts:
          - host: cal.tam.land
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
        tls:
          - secretName: tamland-tls
            hosts:
              - cal.tam.land
    persistence:
      config:
        enabled: true
        type: secret
        name: radicale-configuration
        advancedMounts:
          app:
            app:
              - path: /etc/radicale/config
                readOnly: true
                subPath: config
              - path: /etc/radicale/rights
                readOnly: true
                subPath: rights
              - path: /etc/radicale/users
                readOnly: true
                subPath: users
      data:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/other-webapps/radicale/data
        advancedMounts:
          app:
            app:
              - path: /var/lib/radicale