apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: local-path-provisioner
  namespace: flux-system
spec:
  interval: 30m
  ref:
    tag: v0.0.34
  timeout: 60s
  url: https://github.com/rancher/local-path-provisioner
  ignore: |
    /*
    !/deploy/chart/local-path-provisioner/