apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dispacharr
  namespace: media
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      app:
        initContainers:
          gluetun:
            image:
              repository: qmcgaw/gluetun
              tag: v3.41.1
            restartPolicy: Always
            securityContext:
              capabilities:
                add: [ "NET_ADMIN" ] 
            envFrom:
              - secret: gluetun-wg
              - secret: dispacharr-gluetun
          dnsdist:
            image:
              repository: docker.io/powerdns/dnsdist-19
              tag: 1.9.11
            restartPolicy: Always
            securityContext:
              runAsUser: 0
              runAsGroup: 0
        containers:
          app:
            image:
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: 0.19.0
            env:
              CELERY_BROKER_URL: redis://localhost:6379/0
              DISPATCHARR_ENV: aio
              DISPATCHARR_LOG_LEVEL: info
              DISPATCHARR_PORT: 9191
              REDIS_HOST: localhost
    service:
      app:
        enabled: true
        controller: app
        primary: true
        ports:
          http:
            port: 9191
    ingress:
      app:
        enabled: true
        hosts:
          - host: dispacharr.tam.land
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
        tls:
          - secretName: tamland-tls
            hosts:
              - dispacharr.tam.land
    persistence:
      config:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/media/dispacharr/config
        advancedMounts:
          app:
            app:
              - path: /data
      tmpfs:
        type: emptyDir
        advancedMounts:
          app:
            app:
              - path: /tmp
      dnsdist:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/media/dnsdist
        advancedMounts:
          app:
            dnsdist:
              - path: /etc/dnsdist/dnsdist.conf
                subPath: dnsdist.conf
                readOnly: true