apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tempo
  namespace: monitoring
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: tempo
      version: 1.24.1
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval: 5m
  values:
    tempo:
      storage:
        trace:
          backend: local
          local:
            path: /var/tempo/traces
          wal:
            path: /var/tempo/wal
      extraVolumeMounts:
        - name: tempo-nfs
          mountPath: /var/tempo
          readOnly: false
    extraVolumes:
      - name: tempo-nfs
        nfs:
          server: nfs.local.tam.land
          path: /nfs-share/monitoring/tempo/data
    persistence:
      enabled: false