---
clusterName: tam.land
talosVersion: v1.11.6
kubernetesVersion: v1.33.5
endpoint: https://kube.local.tam.land:6443
additionalApiServerCertSans:
  - kubeapi.local.tam.land
clusterPodNets:
  - 10.201.0.0/16
clusterSvcNets:
  - 10.202.0.0/16
controlPlane:
  machineSpec:
    secureboot: true
    useUKI: true
  patches:
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 10.200.11.0/24
worker:
  machineSpec:
    secureboot: true
    useUKI: true
  patches:
    - |-
      machine:
        sysctls:
          net.ipv4.conf.all.rp_filter: 0
patches:
  - |-
    machine:
      sysctls:
        net.ipv6.conf.all.disable_ipv6: 1
        net.ipv6.conf.default.disable_ipv6: 1
        net.ipv6.conf.lo.disable_ipv6: 1
  - |-
    machine:
      time:
        disabled: false
        servers:
          - pf01.local.tam.land
  - |-
    apiVersion: v1alpha1
    kind: VolumeConfig
    name: STATE
    encryption:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
    ---
    apiVersion: v1alpha1
    kind: VolumeConfig
    name: EPHEMERAL
    encryption:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
nodes:
  - hostname: controlplane01
    ipAddress: 10.200.11.100
    controlPlane: true
    installDiskSelector:
      wwid: naa.50026b7283163177
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
    networkInterfaces:
      - interface: ens18
        dhcp: true
        routes: &bgp_route
          - network: 10.200.12.0/24
            gateway: 10.200.11.1
  - hostname: controlplane02
    ipAddress: 10.200.11.101
    controlPlane: true
    installDiskSelector:
      wwid: naa.500a0751033dad68
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
    networkInterfaces:
      - interface: ens18
        dhcp: true
        routes: *bgp_route
  - hostname: controlplane03
    ipAddress: 10.200.11.102
    controlPlane: true
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
    networkInterfaces:
      - interface: ens18
        dhcp: true
        routes: *bgp_route
  - hostname: worker01
    ipAddress: 10.200.11.110
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
    networkInterfaces:
      - interface: ens18
        dhcp: true
        routes: *bgp_route
      - interface: ens19
        dhcp: true
  - hostname: worker02
    ipAddress: 10.200.11.111
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
    networkInterfaces:
      - interface: ens18
        dhcp: true
        routes: *bgp_route
      - interface: ens19
        dhcp: true
  - hostname: worker03
    ipAddress: 10.200.11.112
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
    networkInterfaces:
      - interface: ens18
        dhcp: true
        routes: *bgp_route
      - interface: ens19
        dhcp: true
  - hostname: worker04
    ipAddress: 10.200.11.113
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
    networkInterfaces:
      - interface: ens18
        dhcp: true
        routes: *bgp_route
      - interface: ens19
        dhcp: true
  - hostname: worker05
    ipAddress: 10.200.11.114
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
    networkInterfaces:
      - interface: ens18
        dhcp: true
        routes: *bgp_route
      - interface: ens19
        dhcp: true
  - hostname: worker06
    ipAddress: 10.200.11.115
    installDiskSelector:
      wwid: nvme.126f-504c3232303831325343423531324730373932-54696d65746563204d533039-00000001
    nodeLabels:
      tam.land/tpu.present: "true"
      tam.land/gpu.present: "true"
      tam.land/modem.present: "true"
      tam.land/ups.present: "true"
      tam.land/local-storage: "true"
      tam.land/local-fast-960: "true"
      tam.land/local-fast-240: "true"
    patches:
      - |-
        machine:
          sysctls:
            net.core.bpf_jit_harden: 1
    networkInterfaces:
      - interface: eno1
        dhcp: true
        routes: *bgp_route
        vlans:
          - vlanId: 42
            dhcp: true
    userVolumes:
      - name: fast-960
        provisioning:
          diskSelector:
            match: disk.wwid == "naa.50026b7784ba9668"
          maxSize: 960GiB
        filesystem:
          type: xfs
        encryption:
          provider: luks2
          keys:
            - nodeID: {}
              slot: 0
      - name: fast-240
        provisioning:
          diskSelector:
            match: disk.wwid == "naa.50026b728316f000"
          maxSize: 240GiB
        filesystem:
          type: xfs
        encryption:
          provider: luks2
          keys:
            - nodeID: {}
              slot: 0
    kernelModules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
      - name: gasket
      - name: apex
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/nvidia-open-gpu-kernel-modules-production
            - siderolabs/nvidia-container-toolkit-production
            - siderolabs/gasket-driver
