apiVersion: metallb.io/v1beta2
kind: BGPPeer
metadata:
  name: pf01
  namespace: metallb-system
spec:
  myASN: 4200000020
  peerASN: 4200000010
  peerAddress: 10.200.11.1
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default
  namespace: metallb-system
spec:
  addresses:
  - 10.200.12.0/27
---
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: pf01-advertisement
  namespace: metallb-system
spec:
  ipAddressPools:
  - default
  aggregationLength: 32
