apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wedding-site
  namespace: other-webapps
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      app:
        enabled: true
        containers:
          app:
            image:
              repository: wordpress
              tag: 6.9.0-php8.5-apache
            envFrom:
              - secret: wedding-wp-secrets
      mariadb:
        enabled: true
        containers:
          mariadb:
            image:
              repository: mariadb
              tag: 11.8.5
            envFrom:
              - secret: wedding-mariadb-secrets
    service:
      app:
        enabled: true
        controller: app
        primary: true
        ports:
          http:
            port: 80
      mariadb:
        enabled: true
        controller: mariadb
        ports:
          http:
            port: 3306
    ingress:
      app:
        enabled: true
        hosts:
          - host: anthonyandjessie.love
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
        tls:
          - secretName: anthonyandjessielove-tls
            hosts:
              - anthonyandjessie.love
    persistence:
      wp-data:
        enabled: true
        type: nfs
        server: nfs.local.tam.land
        path: /nfs-share/other-webapps/wedding/wp
        advancedMounts:
          wordpress:
            wordpress:
              - path: /var/www/html
      mariadb-data:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 20Gi
        storageClass: proxmox-data-ssd-array
        advancedMounts:
          mariadb:
            mariadb:
              - path: /var/lib/mysql