apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: garage
  namespace: admin
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      app:
        enabled: true
        containers:
          app:
            image:
              repository: dxflrs/garage
              tag: v2.2.0
    service:
      s3:
        enabled: true
        controller: app
        primary: true
        ports:
          s3:
            port: 3900
      app:
        enabled: true
        controller: app
        ports:
          web:
            port: 3902
    persistence:
      config:
        enabled: true
        type: secret
        name: garage-configuration
        advancedMounts:
          app:
            app:
              - path: /etc/garage.toml
                subPath: garage.toml
      meta:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: garage-meta
        advancedMounts:
          app:
            app:
              - path: /var/lib/garage/meta
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: garage-data
        advancedMounts:
          app:
            app:
              - path: /var/lib/garage/data
