apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: garage-meta
  namespace: admin
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: proxmox-data-ssd-array
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: garage-data
  namespace: smart-home
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: proxmox-data-ssd-array
  resources:
    requests:
      storage: 300Gi